body {
  font-family: 'Open Sans';
  background-color: #f8f8f0;
}
.menugauche, .boutongauche {
  width: 70rem;
}
.lienmenugauche {
  text-decoration: none;
  color: #f8f8f0;
}
.menugauche {
  color: #f8f8f0;
  background-color: #444485;
}
.boutongauche {
  text-align: left;
}
.nometablissement {
  display: inline-block;
  margin-bottom: 0;
}
.nometablissement a {
  font-family: 'Sue Ellen Francisco';
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 0;
  opacity: 1;
  color: #33ccaf;
}
a:hover {
  text-decoration: none;
  color: #33ccaf;
}
.cataloguetags {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
.typeetablisssement {
  font-family: 'Sue Ellen Francisco';
  font-size: 2rem;
  margin-left: .5rem;
  opacity: .7;
  color: #33ccaf;
}
.lieuetablissement {
  margin-bottom: 2rem;
  color: #444485;
}
.filtrepays {
  color: #444485;
}
.divlogo {
  margin-right: 20px;
}
.imglogo {
  display: inline-block;
  width: 3rem;
}
.lestags {
  margin-top: 0;
  margin-bottom: 10px;
}
.cataloguetags a {
  color: #33ccaf;
}
.section1 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.descriptif {
  padding-left: 2rem;
  border-right: solid 1px rgba(0, 0, 0, .1);
  border-bottom: solid 3px #33ccaf;
  border-left: solid 1px rgba(0, 0, 0, .1);
}
.imgcatalogue {
  border-radius: 1%;
}
