body{
    background-color: #F8F8F0;
    font-family: "Open Sans";
}

h3{
    margin-bottom: 0;
    display: inline-block;
}

h3 a{
    font-family: "Sue Ellen Francisco";
    color : #33ccaf;
    font-size: 32px;
    line-height: 40px;
}

a:hover{
    text-decoration: none;
    color:#33ccaf;
}

p{
    font-style: italic;
}

.typeetablisssement{
    color:#33ccaf;
    font-family: "Sue Ellen Francisco";
    margin-left: 1.5rem;
    font-size: 2rem;
}

p a{
    color : #33ccaf;
}

.section1{
    margin-bottom: 6rem;
}

article{
    border-left: solid 1px rgba(0, 0, 0, 0.1);
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: solid 3px #33ccaf;
    padding-left: 2rem;
}
