body{
    background-color: #F8F8F0;
    font-family: "Open Sans";
}

h3{
    margin-bottom: 0;
}

h3 a{
    font-family: "Sue Ellen Francisco";
    color : #33ccaf;
    font-size: 32px;
    line-height: 40px;
}

a:hover{
    text-decoration: none;
    color:#33ccaf;
}

p{
    font-style: italic;
}

.typeetablisssement{
    color:#444485;
}

p a{
    color : #33ccaf;
}
