/* ==========================================================================
   landing page
   ========================================================================== */

body {
  font-family: 'Open-Sans', sans-serif;
}

h1 {
  font-size: 7vw;
}

h1, h3 {
  font-family: 'Sue Ellen Francisco', cursive;
  color: white;
}

h4 {
  color: white;
}

/*

   ========================================================================== */

.section {
  height: auto;
}

.paysage {
  padding: 200px 0;
}

.text {
  background-color: #f8f8f0;
}

/*

   ========================================================================== */

#voyacteur {
  color: white;
  background-image: url('../image/img3lp.JPG');
  background-size: cover;
}

#voyacteur button, #other button {
  padding: 5px 10px;
  color: #434385;
  border-radius: 10px;
  background-color: #ebc84c;
}

/*

   ========================================================================== */

#inform article {
  display: flex;
  flex-direction: column;
}

#inform img {
  height: 100px;
  margin: auto;
}

/*

   ========================================================================== */

#voyagis h3, #voyagis p {
  text-align: center;
  color: #434385;
}

#partage h3, #partage p {
  text-align: center;
  color: #ebc84c;
}

#organise h3, #organise p {
  text-align: center;
  color: #ff2554;
}

/*

   ========================================================================== */

#other {
  text-align: right;
  color: white;
  background-image: url('../image/img1lp.jpg');
  background-size: cover;
}

/*

   ========================================================================== */

#gandhi {
  text-align: right;
  background-image: url('../image/img2lp.JPG');
  background-size: cover;
}

#ghandi h3 {
  font-size: 70px;
}

/*

   ========================================================================== */

#recommandations, #inform {
  padding: 50px 0;
}

#recommandations h3 {
  color: #33ccaf;
}

#recommandations article {
  display: flex;
  flex-direction: column;
}

#recommandations button {
  padding: 5px 10px;
  color: white;
  border-style: solid;
  background-color: #33ccaf;
}

.def_rec {
  color: grey;
}

.couleur {
  padding: 30px 0;
  background-color: #33ccaf;
}

.percent {
  width: 200px;
  margin: 20px;
}

.percent p {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 75px;
  height: 150px;
  margin: auto;
}

#vert {
  color: #33ccaf;
  background-image: url('../image/rondvert.png');
  background-repeat: no-repeat;
  background-position: center;
}

#jaune {
  color: #ebc84c;
  background-image: url('../image/rondjaune.png');
  background-repeat: no-repeat;
  background-position: center;
}

#rouge {
  color: #ff2554;
  background-image: url('../image/rondrouge.png');
  background-repeat: no-repeat;
  background-position: center;
}

#bleu {
  color: #434385;
  background-image: url('../image/rondbleu.png');
  background-repeat: no-repeat;
  background-position: center;
}

/*

   ========================================================================== */

#contact {
  background-color: #434385;
}

#contactez {
  display: inline-flex;
}

#lettre {
  width: 150px;
  height: 150px;
}

/*

   ========================================================================== */

footer .text {
  padding: 50px 0;
}

footer button {
  margin: auto;
}

footer img {
  width: 20px;
  height: auto;
}

footer .text p {
  font-size: 16px;
  text-align: center;
  color: #434385;
}

.couleur p, .socialf {
  text-align: center;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}
